.google-signin {
    position: absolute;
    top: 50%;
    margin-left: 50%;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    background: white;
    padding: 100px;
    color: #444;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 2px 3px 3px grey;
    white-space: nowrap;

}

